<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/serveur.css') }}">
</head>
<body>
    <h1>Connexion</h1>
    <form method="POST" action="{{ url_for('login') }}">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" name="username" required>
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" required>
        <button type="submit">Se connecter</button>
    </form>
    <p>Pas encore inscrit ? <a href="{{ url_for('register') }}">Inscrivez-vous ici</a></p>
</body>
</html>
