<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/serveur.css') }}">
    <title>Mes fichiers</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('upload_file') }}">Téléverser un fichier</a></li>
            <li><a href="{{ url_for('files') }}">Mes fichiers</a></li>
            <li><a href="{{ url_for('shared_files') }}">Fichiers partagés</a></li>
            <li><a href="{{ url_for('logout') }}">Déconnexion</a></li> 
        </ul>
    </nav>

    <h1>Les fichiers qui me sont partagés</h1>

    <table>
        <thead>
            <tr>
                <th>Nom du fichier</th>
                <th>Télécharger</th>
            </tr>
        </thead>
        <tbody>
            {% for file in fichiers %}
            <tr>
                <td>{{ file.fichier }}</td>
                <td>
                    <a href="{{ url_for('download_file', filename=file.fichier) }}" class="btn-download">Télécharger</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
